.section9{
    width: 100%;
    height: auto;
    background: var(--main-color);
    padding-bottom: 5em;

    &__main{

        &-text1 {
            margin-top: 2em;
            margin-bottom: 2em;
            font-size: 2em;
            font-family: var(--main-text);
            color: var(--main-color5);
            width: 24em;
            margin-left: 2em;
        }

        &-text2 {
            width: 30em;
            font-size: 1.7em;
            font-family: var(--text-font);
            color: var(--text-color);
            margin-bottom: 2em;
            margin-left: 1em;
        }

        &-btn {
            padding: 1em 3em;
            color: var(--text-color);
            border: 1px solid var(--text-color);
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
            font-family: var(--text-font2);
            margin-left: 1.5em;
        }

        &-btn:hover {
            background: var(--main-color5);
            border: none;
        }

        .ml6 {
            position: relative;
            font-weight: 900;
            font-size: 3.3em;
            padding-left: 0.8em;
            margin-top: 1em;
        }

        .ml6 .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .ml6 .letter {
            display: inline-block;
            line-height: 1em;
            color: var(--text-color);
        }
    }

    &__image{
        margin-top: 3em;
        margin-left: 5em;
    }
}